/* Footer */
footer {
    background-color: map-get($fondosSecciones, 'footer');;
    padding: 10px;
    position: relative;
    color: #FFFFFF;

    #contacto {
            position: relative;
    }

    .volver-al-inicio {
        text-align: right;
        position: absolute;
        right: 15px;
        bottom: 15px;
        color: #FFFFFF;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        .direccion-postal { grid-area: 1 / 1 / 2 / 2; }
        .secretaria { grid-area: 2 / 1 / 3 / 2; }
        .redes-sociales { grid-area: 1 / 2 / 2 / 3; }
        }
}