/* Footer */
footer {
    background-color: map-get($fondosSecciones, 'footer');;
    padding: 30px 10px;
    position: relative;
    color: #FFFFFF;

    #contacto {
        position: relative;
        margin-bottom: 20px;
    }

    .volver-al-inicio {
        position: fixed;
        right: 15px;
        bottom: 15px;
        color: #FFFFFF;
        font-size: 20px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
        border-radius: 50%;
        background-color: #3b84b3;
    }
    
    .info-footer {
        display: flex;
        justify-content: space-around;
        text-align: center;

        .direccion-postal, .secretaria, .redes-sociales {
            width: 200px;
        }
        h4 {
            text-transform: uppercase;
            padding-bottom: 10px;
        }
        a {
            margin: 0 !important;
        }
    }
    @media (max-width:660px) {
        .info-footer {
            flex-direction: column !important;
            align-items: center;
        }
        .direccion-postal, .secretaria, .redes-sociales {
            padding: 10px;
        }
    }
}